<a href="https://colab.research.google.com/github/spursbyte/python_research_ml/blob/main/day1_basic_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
list= [1,2,3,4,5,77,7777,7777777,77,87,97,7]

In [3]:
list.count(7)

1

In [4]:
list.append(-87)

In [5]:
list

[1, 2, 3, 4, 5, 77, 7777, 7777777, 77, 87, 97, 7, -87]

In [8]:
list.sort()

In [9]:
list

[-87, 1, 2, 3, 4, 5, 7, 77, 77, 87, 97, 7777, 7777777]

In [16]:
list.sort(reverse=True)

In [17]:
list

[7777777, 7777, 97, 87, 77, 77, 7, 5, 4, 3, 2, 1, -87]

In [19]:
list.sort(key=TracebackType) #REVIEW THIS

TypeError: ignored

In [2]:
#LIST VS TUPLE
# LIST ARE MUTABLE(VALUE CAN BE REPLACED) WHILE TUPLE IS IMMUTABLE
l=[4,5,6,7,8,9,10,11,345]
t=(3,8,9,0)
l[2]=99
#t[2]=0
print(l)
print(t)

[4, 5, 99, 7, 8, 9, 10, 11, 345]
(3, 8, 9, 0)

In [3]:
t.index(9)

2

In [4]:
#conversion of tuple to list
c=list(t)

In [5]:
c[0]=6
print(c)

[6, 8, 9, 0]

In [12]:
# check if 3 user input numbers are pythagorean triplet or not
a=float(input())
b= float(input())
c=float(input())
d= (c == (a**2 + b**2)**(1/2))
print(str(d))

3
4
5
True

In [14]:
a= float(input())
b=float(input())
c= a*b
d={'first num':a,'second num':b, 'product':c}
print(d)

3
4
{'first num': 3.0, 'second num': 4.0, 'product': 12.0}